<div class="container sticky-top" id="loginPanel">
    <div class="row align-items-center justify-content-between p-3 my-3 text-white-50 bg-purple rounded ">
        <!-- Logo -->
        <div class="col-auto d-flex align-items-center">
            <a :href="homeUrl">
                <div width="48" height="48">
                    <div class="swapping-squares-spinner">
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square"></div>
                    </div>
                </div>
            </a>
            <!-- Power information -->
            <div class="ml-2">
                <h6 class="mb-0 text-white lh-100">Registration Tool</h6>
                <a :href="window.location.origin">
                    <small class="text-white">Developed by Tuân Phạm</small>
                </a>
            </div>
        </div>
        <!-- Signin -->
        <div class="col-auto">
            <div v-if="isLoggedIn" class="text-center">
                <small>{{ user.email }}</small>
                <button type="button" class="btn btn-logout mt-1 p-0" @click="logout" title="Logout">
                    <i class="material-icons">exit_to_app</i>
                </button>
            </div>
            <div v-if="!isLoggedIn" class="btn-toolbar mb-0" role="toolbar ">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="email" name="email" v-model="user.email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <button type="button" class="btn btn-signin ml-1" @click="signin">Sign in</button>
            </div>
        </div>
    </div>
</div>