<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/icon.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <title>Registration Tool</title>
</head>

<body class="bg-light">
    <div id="app">
        <!-- <router-link to="/registration">Registration</router-link> -->
        <signing v-if="hasLoginPanel" @logged="storeUserInfo" @logout="logout"></signing>
        <router-view v-if="isLoggedIn" class="router-view"></router-view>
    </div>

    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/popper.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <script src="lib/vue.min.js"></script>
    <script src="lib/vue-router.min.js"></script>
    <script src="lib/axios.min.js"></script>
    <script src="js/utility/urlHelper.js"></script>
    <script src="lib/lz-string.js"></script>
    <script src="js/app.js" type="module"></script>
    <script src="js/main.js"></script>
</body>

</html>